<div class="header">
    <h2>TinyApp</h2>
    <form method="POST" action="">
      <small>Log in:</small>
      <input type="text" name="username" placeholder="username" style='display:inline;'>
      <button type="submit">LOGIN</button>
    </form>
</div>