<div class="header">
    <h2>TinyApp</h2>
    <% if (username) { %>
    <p>Welcome <%= username %> :)</p>
    <form method="POST" action="/logout">
      <button type="submit" style='display:inline;'>LOGOUT</button>
    </form>
    <% } else{ %>
      <form method="POST" action="/login">
        <small>Log in:</small>
        <input type="text" name="username" placeholder="username" style='display:inline;'>
        <button type="submit">LOGIN</button>
      </form>
    <% } %>
</div>