<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp - 404</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h4>URL not found!</h4>
  <p>Oops, looks like that short URL doesn't exist yet. Create your short URL <a href="/urls/new">here</a>.</p>
</body>
</html>