<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp - 404</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h4>Page not found!</h4>
  <p>Oops, looks like there was a problem finding that page. Go back to the main page <a href="/">here</a>.</p>
</body>
</html>