<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header') %>
  <body>
  <% if (!currentUser) { %>
    <p>Don't have an account? Please <a href="/register">register</a> first.</p>
  <% } %>
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
    <form method="POST" action="/login">
      <small>Log in:</small>
      <input type="email" name="email" placeholder="email@example.com" style='display:inline;'>
      <input type="password" name="password" placeholder="password" style='display:inline;'>
      <button>LOGIN</button>
    </form>
  </body>
</html>