<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp - Show My URL</title>
</head>
<body>
  <%- include('partials/_header') %>

  <p><%= `${shortURL} → (${longURL})` %>
    <form method="POST" action="/urls/<%= shortURL %>/edit" style='display:inline;'>
      <input type="text" class="form-control" name="newURL" placeholder="http://">
      <button type="submit" value="submit">EDIT</button>
    </form>
  </p>
  <p><a href="/urls/new">Create a new short URL</a> <a href="/urls/">View my short URLs</a></p>
</body>
</html>

