<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp - Show My URL</title>
</head>
<body>
  <%- include('partials/_header') %>

  <p><a href="<%= `/u/${shortURL}` %>" id="shortLink">
    <%= `${shortURL} ` %></a>
    <%= `(${longURL})` %></p>
</body>
</html>

